/*.content {*/
/*    background-color: lightgray;*/
/*    grid-area: content;*/
/*    display: grid;*/
/*    grid-template: 1fr/1fr 5fr;*/
/*    grid-template-areas: "navbar mainPage";*/
/*    position: relative;*/
/*}*/

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.main {
    padding: 10px;
    flex: 1 1 auto;
    text-align: center;
}

.main__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*.main__profilecard {*/
/*    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
/*    flex: 1 1 auto;*/
/*    max-width: 350px;*/
/*    min-height: 300px;*/
/*    background-color: #ffffff;*/
/*    border-radius: 5px;*/
/*}*/
/*.main__profilecardimage {*/

/*}*/
/*.main__profilecardimage img {*/
/*    width: 100%;*/
/*    object-fit: cover;*/
/*}*/
/*.main__profilecardinfo {*/

/*}*/

/*.main__name {*/
/*    font-size: 24px;*/
/*    padding: 5px 0 10px 0;*/
/*    font-weight: 500;*/
/*}*/

/*.main__status {*/
/*    font-size: 18px;*/
/*    padding: 5px 0;*/
/*}*/

/*.main__occupation {*/
/*    font-size: 18px;*/
/*    padding: 5px 0;*/
/*}*/

/*.main__links {*/
/*    margin: 5px 0;*/
/*}*/

/*.main__profilecardinfo a {*/
/*    opacity: 1;*/
/*}*/
/*.main__profilecardinfo a:hover {*/
/*    opacity: 0.8;*/
/*    transition: opacity 0.2s linear;*/

/*}*/
/*.main__profilecardinfo img {*/
/*    width: 24px;*/
/*}*/

/*.main__button {*/
/*    border: none;*/
/*    outline: 0;*/
/*    padding: 8px;*/
/*    color: white;*/
/*    background-color: #000;*/
/*    text-align: center;*/
/*    cursor: pointer;*/
/*    width: 100%;*/
/*    font-size: 20px;*/
/*}*/

/*.main__button:hover {*/
/*    opacity: 0.8;*/
/*}*/


.main__postcontainer {
    width: 100%;
    max-width: 350px;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 10px;
    margin-top: 10px;
    color: #000;
}
.main__userprofile {
    display: flex;
    align-items: center;
}

.main__userprofile img {
    width: 60px;
    border-radius: 50%;
    margin: 0 10px 0 0;
}

.main__userprofile p {
    margin-bottom: -5px;
    font-weight: 500;
}

.main__postinputcontainer {
    display: flex;
    flex: 1 1 auto;
    margin-top: 5px;
}

.main__postinputcontainer textarea {
    width: 85%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #cccccccc;
    resize: none;
}

.main__postinputcontainer button {
    flex: 0 0 auto;
    padding-left: 10px;
    background-color: #ffffff;
}

.main__postinputcontainer img {
    width: 32px;
}

.main__postscontainer {
    width: 100%;
    max-width: 350px;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 10px;
    margin-top: 10px;
    color: #000;
}

.main__posttext {
    font-size: 15px;
    margin-top: 5px;
    text-align: left;
}