
/*.header {*/
/*    !*background-color: rgb(218, 227, 226);*!*/
/*    background-color: rgb(127, 176, 150);*/
/*    grid-area: header;*/
/*}*/

/*.img {*/
/*    margin: 3px 7px;*/
/*    height: 40px;*/
/*    width: 40px;*/
/*}*/

/*.login {*/
/*    float: right;*/
/*}*/

/*.button {*/
/*    background-color: #fff;*/
/*    border: 1px solid #d5d9d9;*/
/*    border-radius: 8px;*/
/*    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;*/
/*    box-sizing: border-box;*/
/*    color: #0f1111;*/
/*    cursor: pointer;*/
/*    display: inline-block;*/
/*    font-size: 13px;*/
/*    line-height: 18px;*/
/*    padding: 0 10px 0 11px;*/
/*    position: relative;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    user-select: none;*/
/*    -webkit-user-select: none;*/
/*    touch-action: manipulation;*/
/*    vertical-align: middle;*/
/*    width: 70px;*/
/*}*/

.container {
    max-width: 1280px;
    margin: 0 auto;
}


.header {
    background-color: #000;
    text-align: center;
}

.header__row {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    align-items: center;
    border-bottom: 1px solid rgba(50, 42, 42, 0.902);
}

.header__logo {
    padding: 0 0 0 8px;
}

.header__logo img {
    width: 35px;
    border-radius: 3px;
}

.header__nav {
    display: flex;
}

.header__nav a {
    color: #ffffff;
    margin-left: 20px;
    opacity: 0.75;
    transition: opacity 0.2s linear;
}

.header__nav a:hover {
    text-decoration: underline;
    opacity: 1;
}

.header__nav a:first-child {
    margin-left: 0;
}

.header__nav a:last-child {
    margin-right: 30px;
}