
.header__nav {
    display: flex;
}

.link {
    color: #ffffff;
    margin-left: 20px;
    opacity: 0.75;
    transition: opacity 0.2s linear;
}

.activeLink {
    color: #ffffff;
    margin-left: 20px;
}

.header__nav a:hover {
    text-decoration: underline;
    opacity: 1;
}

.header__nav a:first-child {
    margin-left: 0;
}

.header__nav a:last-child {
    margin-right: 30px;
}

.header__nav div {
    margin: 0 30px;
}


.userName {
    display: inline-block;
    color: #ffffff;
    text-align: center;
}

.button {
    margin-left: 5px;
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 70px;
}