
.activeLink {
    color: brown;
}


.header__nav {
    display: flex;
}

.header__nav a {
    color: #ffffff;
    margin-left: 20px;
    opacity: 0.75;
    transition: opacity 0.2s linear;
}

.header__nav a:hover {
    text-decoration: underline;
    opacity: 1;
}

.header__nav a:first-child {
    margin-left: 0;
}

.header__nav a:last-child {
    margin-right: 30px;
}