.navbar {
    grid-area: navbar;
    background-color: peachpuff;
}

.item {
    margin-left: 20px;
    margin-top: 20px;
    font-weight: bold;
}

.link {
    text-decoration: none;
    opacity: 0.75;
    transition: opacity 0.2s;
    color: darkblue;
}

.link:hover {
    opacity: 1;
}

.activeStyle {
    color: brown;
}