.profile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px 10px;
    padding: 10px 10px;
    width: 30%;
    text-align: center;
    background-color: #85adad;
}

.image {
    height: 100px;
    width: 100px;
    border-radius: 10%;
}