.main__profilecard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    flex: 1 1 auto;
    max-width: 350px;
    min-height: 300px;
    background-color: #ffffff;
    border-radius: 5px;
}
.main__profilecardimage {

}
.main__profilecardimage img {
    width: 100%;
    object-fit: cover;
}
.main__profilecardinfo {

}

.main__name {
    font-size: 24px;
    padding: 5px 0 10px 0;
    font-weight: 500;
}

.main__status {
    font-size: 18px;
    padding: 5px 0;
}

.main__occupation {
    font-size: 18px;
    padding: 5px 0;
}

.main__links {
    margin: 5px 0;
}

.main__profilecardinfo a {
    opacity: 1;
}
.main__profilecardinfo a:hover {
    opacity: 0.8;
    transition: opacity 0.2s linear;

}
.main__profilecardinfo img {
    width: 24px;
}

.main__button {
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}

.main__button:hover {
    opacity: 0.8;
}