.postsContainer {
    width: 100%;
    max-width: 350px;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 10px;
    margin-top: 10px;
    color: #000;
}

.postText {
    font-size: 15px;
    margin-top: 5px;
    text-align: left;
}

.userProfile {
    display: flex;
    align-items: center;
}

.userProfile img {
    width: 50px;
    border-radius: 50%;
    margin: 0 10px 0 0;
    aspect-ratio: 1;
}
