*{
    margin: 0;
    padding: 0;
}


.app-wrapper {
    min-height: 100%;
    display: grid;

    grid-template: minmax(50px, auto) 595px minmax(40px, auto) / 1fr;

    grid-template-areas:
    "header"
    "content"
    "footer";
}




