.people {
    grid-area: mainPage;
    display: grid;
}

img {
    width: 55px;
}

.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid saddlebrown;
    margin: 5px 5px;
    padding: 10px 30px;
    width: 100px;
    text-align: center;
}

span {
    margin: 1px 1px;
}

.page {
    padding: 1px 1px;
    border: 1px solid black;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 2px;
    color: #476b6b;
    background-color: #e0ebeb;
    text-align: center;
    cursor: pointer;
    width: 70%;
    font-size: 14px;
}

button:hover {
    opacity: 0.7;
}
