.people {
    grid-area: mainPage;
    /*background-color: navajowhite;*/
    display: grid;
    /*grid-template-rows: 1fr 5fr;*/
    /*grid-template-columns: 1fr;*/
    /*grid-template-areas:*/
}

img {
    width: 55px;
}

.container {
    border: 1px solid saddlebrown;
    margin: 5px 5px;
    padding: 10px 30px;
    width: 100px;
}

span {
    margin: 1px 1px;
}

.page {
    padding: 1px 1px;
    border: 1px solid black;
}

/*.page {*/
/*    font-weight: bold;*/
/*}*/